<ion-header>
  <ion-toolbar>
    <ion-title>Infiorata di Castelraimondo</ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Torna indietro
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Browser/PWA -->
  <iframe
    *ngIf="isBrowser"
    [src]="safeUrl"
    style="width:100%;height:100%;border:none;"
    title="Infiorata di Castelraimondo"
  ></iframe>

  <!-- App mobile -->
  <p *ngIf="!isBrowser" style="padding:16px">
    Caricamento Infiorata...
  </p>
</ion-content>
