:host, ion-content, iframe { display:block; width:100%; height:100%; }.vc-page {
  --background: var(--ion-background-color);

  /* fa sì che l'area scrollabile riempia l'intero content */
  ion-content::part(scroll) {
    height: 100%;
  }

  .ext-frame {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
  }

  .loading-msg {
    padding: 16px;
  }
}
