<ion-header>
  <ion-toolbar>
    <ion-title>Plateform</ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Torna indietro
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Browser/PWA: iframe con binding all’URL "sanitized" -->
  <iframe
    *ngIf="isBrowser"
    [src]="safeUrl"              
    style="width:100%; height:100%; border:none;"
  ></iframe>

  <!-- App mobile: testo mentre apre ThemeableBrowser -->
  <p *ngIf="!isBrowser">Caricamento Plateform...</p>
</ion-content>